.form-container {
  margin-top: 5rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.input-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;

}
.form-container input {
  width: var(--input-width);
  height: 2rem;
  outline: none;
  border-radius: 10px;
  border: 2px solid black;
  background: rgba(255, 255, 255, 0.41);
  font-size: 1rem;
  font-weight: 500;
}
.form-container input::placeholder {
  color: #000;
  font-size: inherit;
}
.form-container button {
  position: relative;
  top: -.8rem;
  left: -3rem;
  width: 2rem;
  background: transparent;
  outline: none;
  border: none;
  font-size: 3rem;
}
