section {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  :root {
    --icon-fz: 2.5rem;
    --h1-fz: 1.5rem;
    --h2-fz: 1.2rem;
    --p-fz: 1rem;
  }
  .todo-container .todo-item {
    width: 55%;
  }
}
@media (max-width: 800px) {
  :root {
    --h2-fz: 1rem;
    --p-fz: 0.8rem;
  }
  .form-container input {
    width: 60%;
  }
}
@media (max-width: 640px) {
  :root {
    --icon-fz: 2rem;
    --h1-fz: 1.5rem;
    --h2-fz: 0.7rem;
    --p-fz: 0.689rem;
  }
  p {
    font-weight: 500;
  }
  .todo-container .todo-item {
    width: 70%;
    height: 2rem;
    margin-left: -8rem;
  }
  .form-container input {
    width: 75%;
  }
  .input-container {
    left: 2%;
  }
}
@media (max-width: 430px) {
  :root {
    --icon-fz: 2rem;
    --h1-fz: 1.5rem;
    --h2-fz: 0.7rem;
    --p-fz: 0.65rem;
  }
  .todo-container .todo-item {
    width: 75%;
    margin-left: -5rem;
  }
  .form-container input {
    width: 77%;
    height: 2rem;
  }
  .input-container {
    left: 0.5%;
  }
  .todo-item .btn-container button {
    width: 55%;
  }
}

@media (max-width: 350px) {
  :root {
    --icon-fz: 1.5rem;
    --h1-fz: 1.5rem;
    --h2-fz: 0.6rem;
  }
  .todo-container .todo-item {
    width: 70%;
    margin-left: -4rem;
  }
  .form-container input {
    width: 76%;
    height: 2rem;
    margin-left: -0.5rem;
    font-size: 0.8rem;
    height: 1.5rem;
  }
  .todo-item .btn-container button {
    width: 50%;
  }
  .input-container {
    left: 5%;
  }
}

@media (max-width: 290px) {
  :root {
    --icon-fz: 1.5rem;
    --h1-fz: 1.5rem;
    --h2-fz: 0.4rem;
    --p-fz: 0.6rem;
  }
  .todo-container .todo-item {
    width: 75%;
    margin-left: -3rem;
    margin-top: -2rem;
    height: 1.5rem;
  }

  .form-container input {
    width: 78%;
  }
  .todo-item .btn-container button {
    width: 50%;
  }
  .input-container {
    left: 3%;
  }
}
